/* Inputs */

/* For modern browsers */
input[type=number] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Rest of modern browsers */
}

/* For WebKit browsers */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Page Layout */
#app {
  margin: auto;
  position: relative;
}

.container {
  display: flex;
}

.column {
  flex: 1;
  max-width: 50%;
  margin: 0 50px;
}

/* Buttons */
button {
  cursor: pointer;
}

.btn {
  font-weight: bold;
  text-transform: uppercase;
}

.btnPrimary {
  background-color: #253646;
  color:#fff;
  border: solid 1px #253646;
  font-size: 14px;
  padding:10px 25px;

}

.btnSecondary {
  background: #fff;
  color:#253646;
  border: solid 1px #253646;
  font-size: 14px;
  padding:10px 25px;
}


button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


/* Alerts */
.success-message {
  color: #1D624E;
  font-weight: bold;
  position: relative;
  font-size: 18px;
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 14px;
}
.out-of-stock-message {
  color: red;
  font-weight: bold;
}

/* Modal */
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    display: block;
  }
  .column {
    max-width:100%;
  } 
}